VITE_API_BASE_URL=/api
VITE_DEV_API_TARGET=http://127.0.0.1:8000
VITE_OIDC_AUTHORITY=http://127.0.0.1:8080/realms/mini-iptv
VITE_OIDC_CLIENT_ID=mini-iptv-frontend
VITE_OIDC_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/login
